{% extends "main/layout.html" %}

{% block title %}
	Profile page
{% endblock %}

{% block content %}
    <div class="profile">
        <h1 class="profile">DELETE PROFILE</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class='btn btn-danger' type="submit">Delete my account</button>
        </form>
        <a class='btn btn-warning' href="{% url 'profile' %}">Cancel</a>
    </div>
{% endblock %}

{% block auth %}
    <div class="login">
        <ul>
            <a href="{% url 'profile' %}"><li><i class="fa fa-user"></i> Profile</li></a>
            <a href="{% url 'logout' %}"><li><i class="fa fa-user-times"></i> Logout</li></a>
        </ul>
    </div>
{% endblock %}