{% extends "main/layout.html" %}

{% block title %}
	Registration Page
{% endblock %}

{% block content %}
        <div class="features">
            <h1 class="features">Create account</h1>
                <form action="{% url "registration" %}" method="post">
                    {% csrf_token %}
                    <label class="small mb-1" for="{{ form.username.id_for_label }}">
                        Username
                    </label>
                    {{ form.username }}
                    <label class="small mb-1" for="{{ form.email.id_for_label }}">
                        Email
                    </label>
                    {{ form.email }}
                    <label class="small mb-1" for="{{ form.password1.id_for_label }}">
                        Password
                    </label>
                    {{ form.password1 }}
                    <label class="small mb-1" for="{{ form.password2.id_for_label }}">
                        Confirm password
                    </label>
                    {{ form.password2 }}
                    <input class="btn btn-primary btn-block" type="submit" value="Создать аккаунт">
                </form>
                        {% if form.errors %}
                    <div class="errors">
                        {% for field, errors in form.errors.items %}
                            <p>Error: {{ errors|striptags }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <a class="features" href="{% url 'login' %}">
                Have account? Login!
            </a>
        <div class="card-footer text-center">
        <div class="small">
        </div>
        </div>
{% endblock %}

{% block auth %}
    <div class="login">
        <ul>
            <a href="{% url 'registration' %}"><li><i class="fa fa-user-plus"></i> Registration</li></a>
            <a href="{% url 'login' %}"><li><i class="fa fa-user"></i> Login</li></a>
        </ul>
    </div>
{% endblock %}
