{% extends "main/layout.html" %}

{% block title %}
	Profile page
{% endblock %}

{% block content %}
    <div class="profile">
        <h1 class="profile">UPDATE PROFILE</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-warning" type="submit">Save changes</button>
        </form>
        <a class="btn btn-danger" href="{% url 'delete_profile' %}"> Delete profile</a>
    </div>
{% endblock %}
