{% extends "main/layout.html" %}

{% block title %}
	Profile page
{% endblock %}

{% block content %}
    <div class="profile">
        <h1 class="profile">UPDATE PROFILE</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-warning" type="submit">Save changes</button>
        </form>
    </div>
{% endblock %}

{% block auth %}
    <div class="login">
        <ul>
            <a href="{% url 'profile' %}"><li><i class="fa fa-user"></i> Profile</li></a>
            <a href="{% url 'logout' %}"><li><i class="fa fa-user-times"></i> Logout</li></a>
        </ul>
    </div>
{% endblock %}