{% extends "main/layout.html" %}

{% block title %}
	Main page
{% endblock %}

{% block content %}
    <div class="features">
        <h1>Main Page</h1>
        <p>default</p>
        <button class="btn btn-warning">On page About</button>
    </div>
{% endblock %}

{% block auth %}
    <div class="login">
        <ul>
            <a href="{% url 'registration' %}"><li><i class="fa fa-user-plus"></i> Registration</li></a>
            <a href="{% url 'about' %}"><li><i class="fa fa-user"></i> Login</li></a>
        </ul>
    </div>
{% endblock %}
