{% extends "main/layout.html" %}

{% block title %}
	Registration Page
{% endblock %}

{% block content %}
        <div class="features">
            <h1 class="features"> Login to account</h1>
                <form action="{% url "login" %}" method="post">
                    {% csrf_token %}
                    <label class="small mb-1" for="{{ form.username.id_for_label }}">
                        Username
                    </label>
                    {{ form.username }}
                    <label class="small mb-1" for="{{ form.password1.id_for_label }}">
                        Password
                    </label>
                    {{ form.password }}
                    <input class="btn btn-primary btn-block" type="submit" value="Войти в аккаунт">
                </form>
            </div>
        <div class="card-footer text-center">
        <div class="small">
        </div>
        </div>
{% endblock %}
    {#    <a href="{% url '' %}">#}
    {#    Уже есть аккаунт? Авторизоваться#}
    {#    </a>#}